*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Segoe UI',sans-serif;

background:#f4f7f9;

overflow-x:hidden;

}

.app-container{

display:flex;

min-height:100vh;

width:100%;

}

.main-container{

flex:1;

padding:25px;

overflow-x:hidden;

overflow-y:auto;

}

/* DESKTOP */

@media screen and (min-width:1200px){

.main-container{

padding:30px;

}

}

/* TABLET */

@media screen and (max-width:992px){

.main-container{

padding:18px;

}

}

/* MOBILE */

@media screen and (max-width:768px){

.app-container{

flex-direction:column;

}

.main-container{

width:100%;

padding:15px;

}

}

/* SMALL MOBILE */

@media screen and (max-width:480px){

.main-container{

padding:10px;

}

}
.overlay{

display:none;

}

@media screen and (max-width:768px){

.overlay{

display:block;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:

rgba(0,0,0,.45);

z-index:999;

}

}